<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    {{author}}
    {{favicon}}
    {{bookmark}}
    {{feed name="posts"}}
    {{styles}}
  </head>
  <body>
    {{> header}}
    {{search id="posts" placeholder="Enter keywords, eg: minify" class="search-wrapper hidden"}}
    <main>{{partial}}</main>
    {{> footer}}
    {{search id="posts" script=true}}
    {{scripts}}
    {{livereload}}
  </body>
</html>
