<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    {{favicon}}
    {{bookmark}}
    {{feed name="posts"}}
    {{styles}}
  </head>
  <body>
    {{> header}}
    <main>{{partial}}</main>
    {{> footer}}
    {{scripts}}
  </body>
</html>
